<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Page</title>
    <link rel="stylesheet" href="Events.css">
    <link rel="script" href="Event.js">
</head>
<body>
    <div class="navbar">
        <h2>CyberForge</h1>
        <a href="../index.html">HOME</a>
        <a href="/components/about.html">ABOUT</a>
        <a href="/components/Events.html">EVENTS</a>
        <a href="Contact.html">CONTACT</a>
    </div>
    <div class="box green"></div>
    <div class="container">
        <h1>Upcoming Events</h1>
        <div class="grid">
            
            <div class="card">
                <div class="card-image">
                    <img src= "/assets/event1.jpg" alt="Event 1">
                </div>
                <div class="card-content">
                    <h2>DJ and Music Shows</h2>
                    <p>"Feel the bass, live the beat!"</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src= "/assets/event22.jpg" alt="Event 1">
                </div>
                <div class="card-content">
                    <h2>Code Hackathons</h2>
                    <p>"Code. Compile. Conquer!"</p>
                </div>
            </div>
            <!-- Video Square -->
            <div class="card">
                <div class="card-video">
                    <iframe src="/assets/event2.mp4" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card-content">
                    <h2>Dance Competition</h2>
                    <p>"Feel the rhythm, own the stage!"</p>
                </div>
            </div>

            <!-- Image Square -->
            <div class="card">
                <div class="card-image">
                    <img src="/assets/event3.jpg" alt="Event 3">
                </div>
                <div class="card-content">
                    <h2>Art Shows</h2>
                    <p>"Turning ideas into masterpieces."</p>
                </div>
            </div>

            <!-- Video Square -->
            <div class="card">
                <div class="card-video">
                    <iframe src="/assets/event4.mp4" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="card-content">
                    <h2>Live Music</h2>
                    <p>Experience the thrill of Music.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/assets/event5.jpg" alt="Event 3">
                </div>
                <div class="card-content">
                    <h2>Tech Talks</h2>
                    <p>"Turning vision into reality"</p>
                </div>
            </div>
        </div>
 
    </div>

</body>
</html>